body{
    background: #edf0f5;
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-y:scroll;
}

.sidebar_p{
    position: relative;
    color: darkgray;
    left: 28px;
    top: 40px;
    font-size: 80%;
    padding-bottom: 10px;
    font-family: KeepCalm;
/*    text-align: center;*/
}

.sidebar_span{
    position: absolute;
    left: 28px;
    top: 20px;
    font-size: 70%;
    color:#f29ac2;
    font-size:15px;
    font-family: KeepCalm;
}

h3{
    color: #f29ac2;
    position: absolute;
    display:inline;
    top: 18px;
    left: auto;
    margin: 0px;
    padding: 0px;
    font-family: KeepCalm;
}

.sidebar
{
    background-color:#ffffff;
    height:500px; 
    width:300px;
    overflow-y:scroll;
    position: absolute;
    left: 95px;
    top: 123px;
    box-shadow: 1px 1px 1px #888888;
}

.nav{
    text-align: center;
    padding: 9px 0px 50px 0px;
    background-color: #ffffff;
    margin-bottom: 0px;
    box-shadow: 1px 1px 1px #888888;
}

.logo{
    background-image: url(pic/search.png);
    background-position: 0 0; 
    height:15px; 
    width:15px;
    position: absolute;
    left: 318px;
    top: 20px;
}

#map{
    color: darkgray;
    text-decoration: none;
}

.settings{
    background-color: white;
    background-image: url(pic/bar.png);
    background-position: 0 0; 
    height:30px; 
    width:30px;
    position: absolute;
    right: 10px;
    top: 15px;
    border: none;
}

.searchbar{
    height:25px; 
    width:210px;
    position: absolute;
    left: 127px;
    top: 15px;
    border-radius: 5px;
    background-color: f2f2f2;
    opacity: 0.5;
}

.searchbar:hover{
     opacity: 1;
}

.feed{
    background-color:#edf0f5;
/*    background-color: beige;*/
    height:auto; 
    width:700px;
    position: absolute;
    left: 525px;
    top: 127px;
}

.linepink{
    height:3px; 
    width:900px;
    background-color: #f29ac2;
    position: absolute;
    left: 395px;
    top: 124px;
}

#btnNext{
     background-color: white;
     position:absolute;
     bottom: -30px;
     right: 0px;
     color: #f29ac2;
     text-decoration: none;
     font-family: proxima-nova;
     border: solid 2px #f29ac2;
     border-radius: 50px;
     padding: 10px 25px;
     display: none;
}

#btnNext:hover{
    background-color: #f29ac2; 
    color: white;
}

.hide-me {
  visibility: hidden;
  opacity: 0;
  transform: scale(.75);
}

/*This starts the posts stuff*/
.post_container{
    width:600px;
    position: relative;
    background-color:floralwhite;
    margin: 20px;
    padding:5px;
    display: none;
}

.list{
    display: none;
}

.post_display_picture{
    width: 100px;
    height:100px;
    background-image: url(pic/icon.png);
    background-position: 0 500;
    position: relative;
    margin:7px;
    margin-top: 10px;
    margin-left: 10px;
}
            
.post_user_name{
    width:100px;   
    font-size: 18px;
    position: absolute;
    bottom:-5px;
    left:110px;
    font-family: KeepCalm;
}

.post_title{
    position: relative;
    margin:7px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 15px; /*You can change the size, color, style*/
    font-family: KeepCalm;
    color:#f29ac2;
}

.post_text{
    position: relative;
    margin:7px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    font-family: KeepCalm;
    font-size: 80%;
    color: darkgray;
}

a{
    color:darksalmon;
    text-decoration: none;
}

.post_user_name:hover{
    text-decoration: underline;
}

/*This ends the post stuff*/

@font-face {
    font-family: KeepCalm; 
    font-weight: bold; 
    src: url('fonts/KeepCalm-Medium.ttf');
}

@font-face {
    font-family: proxima-nova; 
    src: url('fonts/proxima-nova.otf');
}

/*This is for the snippet posts*/
.comment {
    width: 400px;
    background-color: #f0f0f0;
    margin: 10px;
}

a.morelink {
    text-decoration:none;
    outline: none;
}

.morecontent span {
    display: none;
}

/*********Hover Effects Nav************/
nav ul {
  list-style: none;
  text-align: center;
  font-family: KeepCalm;
}
nav ul li {
  display: inline-block;
}
nav ul li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #66676b;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0 10px;
}
nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}
nav ul li a:hover {
  color: #f29ac2;
}

/* stroke */
nav.stroke ul li a,
nav.fill ul li a {
  position: relative;
}
nav.stroke ul li a:after,
nav.fill ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #aaa;
  height: 1px;
}
nav.stroke ul li a:hover:after {
  width: 100%;
}

nav.fill ul li a {
  transition: all 2s;
}

nav.fill ul li a:after {
  text-align: left;
  content: '.';
  margin: 0;
  opacity: 0;
}
nav.fill ul li a:hover {
  color: #fff;
  z-index: 1;
}
nav.fill ul li a:hover:after {
  z-index: -10;
  animation: fill 1s forwards;
  -webkit-animation: fill 1s forwards;
  -moz-animation: fill 1s forwards;
  opacity: 1;
}

/* Keyframes */
@-webkit-keyframes fill {
  0% {
    width: 0%;
    height: 1px;
  }
  50% {
    width: 100%;
    height: 1px;
  }
  100% {
    width: 100%;
    height: 100%;
    background: #f29ac2;
  }
}